/.gradle
/.settings
/bin
/build
/data
/data_old
/data_old2
/data_old3
/log
/package
/samples
/src_testing

/.classpath
/.project
/accounts.yaml
/config.yaml
/keystore.jks
/label_definitions.yaml

/webcontent/app