/.gradle
/.settings
/bin
/build
/cache
/data
/data_old
/data_old2
/data_old3
/data_bats
/data_birds
/labeling_lists
/labeling_lists_birds
/log
/package
/photo_data
/photo2_cache
/review_lists
/review_lists_bats
/review_lists_birds
/samples
/src_testing

/.classpath
/.project
/accounts.yaml
/config.yaml
/config_bats.yaml
/keystore.jks
/label_definitions.yaml
/label_definitions.yaml_OLD
/photo_cache.mv.db
/photo_cache.trace.db
/photo_class.csv
/photo_classification_definitions.csv
/sample_cache.mv.db
/sample_cache.trace.db
/thumb_cache.mv.db
/thumb_cache.trace.db
/webcontent/app
/webcontent/photo
photo_data_n1
photo_data_n2
review_lists_n1
.Rproj.user
