<!DOCTYPE html><html><head><title>AudioApp</title>
<html>
<head>
<title>App Index</title>
<meta charset=utf-8>

{{#hasAudioProject}}{{^hasPhotoProject}}<meta http-equiv="refresh" content="0; url=/web/audio" />{{/hasPhotoProject}}{{/hasAudioProject}}	
{{^hasAudioProject}}{{#hasPhotoProject}}<meta http-equiv="refresh" content="0; url=/web/photo" />{{/hasPhotoProject}}{{/hasAudioProject}}	

<style>
body {
	background-color: #eae7e0; 
	font-family: Roboto,-apple-system,Helvetica Neue,Helvetica,Arial,sans-serif;	
	padding-top: 0px; 
	padding-bottom: 10px;
	padding-left: 100px;
	padding-right: 100px;
	color: #0000009c;
}

h1 {
  text-align: center;
  color: #00000085;
}

ul {
  list-style: none;
  padding: 0;
}
li {
  padding: 5px 10px;
  background-color: #0000001a;
  border: 1px solid #DDDDDD;
  margin: 50px;
}
</style>

</head>
<body>
<h1>App Index</h1>

<ul>
	{{#hasAudioProject}}<li><a href="/web/audio">Go to <b>AudioApp</b></a></li>{{/hasAudioProject}}
	{{#hasPhotoProject}}<li><a href="/web/photo">Go to <b>PhotoApp</b></a></li>{{/hasPhotoProject}}
	{{^hasAudioProject}}{{^hasPhotoProject}}<b>Neither a audio project nor a photo project has been configured.</b>{{/hasPhotoProject}}{{/hasAudioProject}}	
</ul>

</body>
</html>