<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8" />
<meta name="robots" content="noindex, nofollow" />
<meta name="referrer" content="same-origin" />
<title>Login JWS Error</title>
</head>

<body>

<hr>
<h2>Login JWS Error</h2>

Reason:
<br>{{error}}
<br><br><h3><a href="{{redirect_target}}">go to login page</a></h3>
<hr>
		
</body>
</html>