<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8" />
<meta name="robots" content="noindex, nofollow" />
<meta name="referrer" content="same-origin" />
<title>Login JWS Error</title>

<style>

body {
	background-color: #eae7e0; 
	font-family: Roboto,-apple-system,Helvetica Neue,Helvetica,Arial,sans-serif;	
	padding-top: 0px; 
	padding-bottom: 10px;
	padding-left: 50px;
	padding-right: 50px;
	color: #0000009c;
}

h1 {
  text-align: center;
  color: #00000085;
}

</style

</head>

<body>
<h1>Authentication failed</h1>
<hr>
<h2>Login JWS Error</h2>

Reason:
<br>{{error}}
<br><br><h3><a href="{{href}}">Go to login page</a></h3>
<hr>
		
</body>
</html>